{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<section class="about_section">
    <div><img class="about_img" src="{{asset('/img/cat.jpg')}}" alt="" /></div>
    <div class="about_text">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium inventore commodi consequuntur, facilis suscipit explicabo animi porro rerum veniam, sunt dolor dolore, neque maxime fuga. Maxime, quasi totam! Soluta, voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quis dicta aliquid doloribus totam facilis porro animi, provident quibusdam accusamus neque velit deleniti expedita explicabo dolor asperiores nemo consequuntur temporibus. </p>
    </div>
</section>
{% endblock %}