<form method="GET" action="{{ path('auto') }}">
    <div class="d-flex justify-content-end m-4">
        <input type="text" name="search" id="search" placeholder="Search">
        <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
    </div>
</form>